---
const {
  frontmatter: { title, module, submodule, examples, params, descriptionText },
} = Astro.props;
import CodeEmbed from "@components/reference/CodeEmbed/";
import InteractiveComponentTest from "@components/InteractiveComponentTest/";
---

<html>
  <h1>{title}</h1>
  <h2>Module: {module}</h2>
  <ul>
    {
      params.map((p) => (
        <li>
          <span>{`${p.name} ${p.type} ${p.description}`}`</span>
        </li>
      ))
    }
  </ul>
  {descriptionText && <div set:html={descriptionText} />}
  {submodule && <p>Submodule: {submodule}</p>}
  <br />
  <CodeEmbed code={examples} />

  <!-- This is the actual MDX content: -->
  <slot />
  <InteractiveComponentTest client:idle />


</html>
